.exp {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 120px;
}

.exp .sub-t {
  color: #e0e0e0;
}

.exp-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 50ch; /* 50 Caracteres */
  color: #525252;
}

.ext-texto strong {
  color: #141414;
}

.projetos {
  display: grid;
  gap: 10px 20px; /* Vertical/ Horizontal */
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #f7f7f7;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  transition: 0.4s;
}

.projetos::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #1548fd 0%, #457ee9 100%);
  position: absolute;
  top: 20px;
  left: -4px;
}

.projetos:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.1);
}

.ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: #525252;
  width: 80px;
  text-align: right;
}

.projeto-t {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.projeto-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #fff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .exp {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .exp .sub-t {
    color: #141414;
  }
  .exp-texto {
    font-size: 1.25rem;
  }
  .ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    font-weight: bold;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
