@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

@import "./global.css";
@import "./header.css";
@import "./introducao.css";
@import "./exp.css";
@import "./formacao.css";
@import "./footer.css";
